### Scala ###
*.class
*.log
target

# sbt specific
*.cache
*.history
*.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IntelliJ stuff
.idea
*.iml
*.ipr
*.iws
*.iml
*.iws
**/.idea/dictionaries
**/.idea/workspace.xml
**/.idea/tasks.xml
/out/*
!/out/.gitignore
/lib/*
!/lib/.gitignore
!idea/runConfigurations

.settings/*

# Mac
.DS_Store
